.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:2px 20px 20px 20px;
    margin-top:0;
    font-family: 'Poppins', sans-serif;
 
}
.movieCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    margin:10px;
   
}
.movieCard :hover{
    cursor: pointer;
}
.cardImg img{
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.title_movie ,.vote_average{
    margin: 2px;
}
.removeFromListBtn{
    border: none;
    border-radius: 5px;
    padding:10px;
    background-color: #28a745;
    color:#fff;
    font-size: 14px;
    
}
@media screen and (max-width: 600px) {
    .movieCard{
        width: 100%;
        height: 100%;
    }
    .cardImg img{
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}
.no-result{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}
@media screen and (max-width: 400px) {
    .movieCard{
        width: 100%;
        height: 100%;
    }
    .cardImg img{
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}


