.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0px 60px;
}

.logoImg{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.navBar-Link{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}
.navBar-Link .link{
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px;
}

.navBar-Link .link:hover{
    background-color: #939090;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}


@media screen and (max-width: 600px) {
    .navBar-Link{
        font-size: 15px;
    }
    .navBar-Link .link{
        font-size: 15px;
    }
}