@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 5px #ccc;
    padding: 0px 110px;
    margin-bottom: 50px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logoImg{
    width: 60px;
    height: 60px;
}
.logo-name{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 30px;
}
.form-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.form-search input{
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 10px;
}
.form-search input:focus{
    outline: none;
}
.form-search input::placeholder{
    color: #ccc;
    font-size: 16px;
}
.navBar-Link{
    font-size: 20px;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}
.navBar-Link .link{
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px;
}

.navBar-Link .link:hover{
    background-color: #939090;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}

@media screen and (max-width: 600px) {
    .navBar{
        padding: 0px 20px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .logoImg{
        width: 40px;
        height: 40px;
    }
    .logo-name{
        font-size: 16px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    .form-search{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }
    .form-search input{
        font-size: 14px;
        font-weight: 400;
        width: 200px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 10px;
        margin-right: 10px;
    }
    .form-search input:focus{
        outline: none;
    }
    .form-search input::placeholder{
        color: #ccc;
        font-size: 14px;
    }
    .navBar-Link{
        font-size: 16px;
        color: #000;
        text-decoration: none;
        margin-right: 20px;
    }
    .navBar-Link .link{
        color: #000;
        text-decoration: none;
        margin-right: 10px;
        padding: 5px 10px;
    }
    .navBar-Link .link:hover{
        background-color: #939090;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.5s;
    }
}
@media screen and (max-width: 400px) {
    .navBar{
        padding: 0px 10px;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .logoImg{
        width: 30px;
        height: 30px;
    }
    .logo-name{
        font-size: 14px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    .form-search{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
    }
    .form-search input{
        font-size: 12px;
        font-weight: 400;
        width: 150px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 10px;
        margin-right: 10px;
    }
    .form-search input:focus{
        outline: none;
    }
    .form-search input::placeholder{
        color: #ccc;
        font-size: 12px;
    }
    .navBar-Link{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-right: 20px;
    }
    .navBar-Link .link{
        color: #000;
        text-decoration: none;
        margin-right: 10px;
        padding: 5px 10px;
    }
    .navBar-Link .link:hover{
        background-color: #939090;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.5s;
    }
}

.AuthBtn{
    background-color: #28a745;
   font-size: 18px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/* @media screen and (max-width: 600px) {
    .navBar-Link{
        font-size: 15px;
    }
    .navBar-Link .link{
        font-size: 15px;
    }
} */